@using bacit_dotnet.MVC.Models.Suggestions
@using bacit_dotnet.MVC.Models.Category
@model SuggestionEntity
@{
    var categories = ViewData["Category"] as List<CategoryEntity>;
}

<form asp-action="save" method="post">

    <h1>Rediger</h1>

    <li class="list-unstyled">
        <input class="form-control" type="hidden" name="Suggestionid" value="@Model.SuggestionID"><br /><br />
    </li>
    <li class="list-unstyled">
        <label for="Title">Emne:</label><br />
        <input class="form-control" type="text" name="Title" required value="@Model.Title"><br /><br />
    </li>
    <li class="list-unstyled">
        <label for="Team">Avdeling:</label><br />
        <select class="form-control" name="Team">
            @foreach (var team in Model.teamList)
            {
                if (team.TeamName.Equals(Model.Team))
                {
                    <option selected value="@team.TeamID" > @team.TeamName </option>
                } else {
                    <option value="@team.TeamID">@team.TeamName</option>
                }
            }
        </select> <br /><br />
    </li>
    <li class="list-unstyled">
        <label for="Category">Kategori:</label><br />
        <select class="form-control" name="Category">
           @foreach (var category in categories)
           {
                if (category.CategoryName.Equals(Model.Category))
                {
                    <option selected value="@category.CategoryId"> @category.CategoryName </option>
                }
                else
                {
                    <option value="@category.CategoryId"> @category.CategoryName </option>
                }
            }
        </select> <br /><br />
    </li>
    <li class="list-unstyled">
        <label for="Deadline">Frist:</label><br />
        <input class="form-control" type="date" name="Deadline" required value="@Model.Deadline" /> <br /><br />
    </li>
    <li class="list-unstyled">
        <label for="Status">Status:</label><br />
        <select class="form-control" name="Status">
            @switch (Model.Status){
                case "Not Started":
                    <option selected value="Not Started">Not Started</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                    <option value="Cancelled">Cancelled</option>
                    break;
                case "In Progress":
                    <option value="Not Started">Not Started</option>
                    <option selected value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                    <option value="Cancelled">Cancelled</option>
                    break;
                case "Completed":
                    <option value="Not Started">Not Started</option>
                    <option value="In Progress">In Progress</option>
                    <option selected value="Completed">Completed</option>
                    <option value="Cancelled">Cancelled</option>
                    break;
                case "Cancelled":
                    <option value="Not Started">Not Started</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                    <option selected value="Cancelled">Cancelled</option>
                    break;
            }
        </select> <br /><br />
    </li>
    <li class="list-unstyled">
        <label for="Phase">Fase:</label><br />
        <select class="form-control" name="Phase">
            @switch (Model.Phase)
            {
                case "Plan":
                    <option selected value="Plan">Plan</option>
                    <option value="Do">Do</option>
                    <option value="Study">Study</option>
                    <option value="Act">Act</option>
                    break;
                case "Do":
                    <option value="Plan">Plan</option>
                    <option selected value="Do">Do</option>
                    <option value="Study">Study</option>
                    <option value="Act">Act</option>
                    break;
                case "Study":
                    <option value="Plan">Plan</option>
                    <option value="Do">Do</option>
                    <option selected value="Study">Study</option>
                    <option value="Act">Act</option>
                    break;
                case "Act":
                    <option value="Plan">Plan</option>
                    <option value="Do">Do</option>
                    <option value="Study">Study</option>
                    <option selected value="Act">Act</option>
                    break;
            }
        </select> <br /><br />
    <li class="list-unstyled">
        <label for="Description">Forbedringsforslag:</label><br />
        <textarea class="form-control" id="exampleFormControlTextarea1" name="Description" rows="3" required>@Model.Description</textarea>
    </li> <br />
    <li class="list-unstyled">
        <input onclick="return confirm('Er du sikker på at du vil lagre?')" class="btn btn-dark form-control" type="submit" value="Lagre" />
    </li>
</form>
<br />
<form asp-action="Index" method="get">
    <input onclick="return confirm('Er du sikker på at du vil avbryte?')" type="submit" class="form-control btn btn-danger" value="Avbryt og gå tilbake" />
</form>