@using bacit_dotnet.MVC.Models.Suggestions
@model SuggestionList
<table class ="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <td><b>Tittel</b></td>
            <td><b>Navn</b></td>
            <td><b>Status</b></td>
            <td><b>Kategori</b></td>
            <td><b>Frist</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var suggestion in Model.Suggestions)
        {
            <tr>
                <td>@suggestion.Title</td>
                <td>@suggestion.SuggestionMakerID</td>
                <td>@suggestion.Status</td>
                <td>@suggestion.Category</td>
                <td>@suggestion.Deadline</td>
                <td><a class="btn btn-info" asp-action="Details" asp-route-id="@suggestion.SuggestionID">Details</a></td>
                <td>
                    <form asp-action="edit" asp-controller="suggestions" method="get">
                        <input type="hidden" name="Suggestionid" value="@suggestion.SuggestionID" />
                        <input class="btn btn-secondary" type="submit" value="Endre" />
                    </form>
                </td>

                <td><form asp-controller="suggestions" asp-action="Delete">
                    <input type="hidden" name="SuggestionID" value="@suggestion.SuggestionID" />
                        <input onclick="return confirm('Er du sikker på at du vil slette?')" type="submit" value="Slett" class="btn btn-danger" />
                    </form>
                </td>
               
            </tr>
        }
    </tbody>
</table>
<form asp-action="create">
    <input class="form-control btn btn-dark" type="submit" value="Lag Forslag"/>
</form>