@using bacit_dotnet.MVC.Models.Suggestions
@model SuggestionList
<table class ="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <td><b>Title</b></td>
            <td><b>Name</b></td>
            <td><b>Satus</b></td>
            <td><b>Category</b></td>
            <td><b>Time Posted</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var suggestion in Model.Suggestions)
        {
            <tr>
                <td>@suggestion.Title</td>
                <td>@suggestion.SuggestionMakerID</td>
                <td>@suggestion.Status</td>
                <td>@suggestion.Category</td>
                <td>@suggestion.TimeStamp</td>
                <td><a asp-action="Details" asp-route-id="@suggestion.SuggestionID">Details</a></td>
                
                <td><form asp-controller="suggestions" asp-action="Delete">
                    <input type="hidden" name="SuggestionID" value="@suggestion.SuggestionID" />
                    <input type="submit" value="Slett" class="btn-danger" />
                    </form>
                </td>
               
            </tr>
        }
    </tbody>
</table>
<form asp-action="create">
    <input class="form-control btn btn-dark" type="submit" value="Lag Forslag"/>
</form>