@using bacit_dotnet.MVC.Models.Suggestions
@model SuggestionViewModel
<table>
    <tbody>
        @foreach (var suggestion in Model.Suggestions)
        {
            <tr>
                <td>@suggestion.Title</td>
                <td>@suggestion.SuggestionMakerID</td>
                <td>@suggestion.Status</td>
                <td>@suggestion.Category</td>
                <td>@suggestion.TimeStamp</td>
                <td><a asp-action="Details" asp-route-id="@suggestion.SuggestionID">Details</a></td>
               
            </tr>
        }
    </tbody>
</table>
<form asp-action="create">
    <input type="submit" value="Lag Forslag"/>
</form>